* {box-sizing: border-box;}

.wrapper {
    height: 100%;
    border: 4px solid transparent;
    border-radius: 5px;
    margin: 0 auto;
    display: grid;
}

.wrapper > div {
    margin:5px;
}

@media (max-width: 749px) {
   
    .wrapper {
        grid-template-columns: 150px auto auto auto auto 150px;
        grid-template-rows: 50px auto auto auto 50px;
        column-gap: 0px;
        row-gap: 0px;
        grid-template-areas: 
          "p t t t n"
          "p c c c n"
          "p c c c n"
          "p c c c n"
          "p f f f n";
    }
}

@media (min-width: 750px) {
   
    .wrapper {
        grid-template-columns: 250px 1fr 250px;
        grid-template-rows: 30px 1fr 30px;
        gap: 20px;
        grid-template-areas: 
          "t t t"
          "p c n"
          "f f f";
    }
}


body{
    background-image: url('colored.svg');
    background-size: 100% auto;
    padding: 1em;
}


.nav{
    grid-area: n;
    background-color: black;
    padding: 300px 25% 300px;

    color: white;
    font-size: 20px;
    line-height: 50px;
}

.page{
    grid-area: p;
    background-color: black;

    font-size: 10em;
    color: white;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    text-align: center;
}

.content{
    grid-area: c;
    background-color: rgba(66, 22, 88, .2);
    padding: 1em;
    margin: auto; 
}

#content:nth-child(even){
    display: grid;
    width: 100px;
    height: 100px;
    background-color: red;
}

#content:nth-child(odd){
    display: grid;
    width: 100px;
    height: 100px;
    background-color: green;
}

p:hover {
    animation: jello 2s;
    -webkit-animation: jello 2s;
}

.footer{
    grid-area: f;
    background-color: black;

    color: white;
}

.topbar {
    grid-area: t;

    background-color: black;
}