  
  /* this styles the "James Tooker" header in the resume */
h1 {
  font-family: 'major mono display';
  font-size: 3.25em;
  font-weight: lighter;
  letter-spacing: 12px;
  }

  /* this styles the categories in the resume */
h2{
  display: block;
  font-family: arial, sans-serif;
  font-size: 2em;
  }

  /* this styles the resume's body text */
body{
  font-size: 21px;
  }

  /* this styles the education section in the resume */
#edu{
  display: inline-block;
  width: 75%;
  }

  /* this styles the job experience section in the resume */
#exp{
  display: inline-block;
  width: 75%;
  }

  /* this styles the academic achievements section in the resume */
#ach{
  display: inline-block;
  width: 75%;
  }

  /* this styles the dates found in the resume */
.dates{
  float: right;
  width:25%;
  }